<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997985458593-04k1qv2sc5ivgsive4j5ftso1hicp4c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997985458593-04k1qv2sc5ivgsive4j5ftso1hicp4c8</string>
	<key>API_KEY</key>
	<string>AIzaSyC9xq6XbGE_7H4LM2ozGbB4sXiGzdzZ4YU</string>
	<key>GCM_SENDER_ID</key>
	<string>997985458593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iziApps.FastLog</string>
	<key>PROJECT_ID</key>
	<string>fastlog-3f291</string>
	<key>STORAGE_BUCKET</key>
	<string>fastlog-3f291.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997985458593:ios:391a99e38071e37c9293e0</string>
	<key>DATABASE_URL</key>
	<string>https://fastlog-3f291-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>